@charset "utf-8";
#wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* header */

header {
  background-color: #fff;
  height: 80px;
  padding-top: 30px;
  box-sizing: border-box;
  padding: 0 15px;
}


header .logo {
  background: url(../img/logo.png) no-repeat left;
  font-size: 0;
  color: transparent;
  width: 145px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header .search {
  border-bottom: solid 1px #8c8c8c;
  position: absolute;
  right: 0;
  top: 0;
  width: 180px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header .search label {
  font-size: 0;
  color: transparent;
}

header .search input {
  width: 150px;
  height: 30px;
  border: 0;
  outline: 0;
}

header .search button {
  background: url(../img/search_icon.png) no-repeat center;
  border: 0;
  font-size: 0;
  color: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  right: 0;
}



/* .gnb */
.gnb {
  background-color: #232526;
  height: 50px;
}

.gnb li {
  float: left;
  line-height: 50px;
  padding-left: 30px;
  box-sizing: border-box;
  color: #fff;
}

.gnb li a{
  display: block;
  width: calc(1000px / 5);
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #232526;
  color: #fff;
  transition: all 0.3s;
}

.gnb li:hover a{
  background-color: #a40000;
  font-weight: 700;
  border-top: #fff 3px solid;
}

/* visual01 */
.visual01 {
  background: url(../img/slide/visual01_1.png) no-repeat top;
  height: 100%;
  filter: grayscale(50%); 
}

.visual01_2 { 
  background-image: url(../img/slide/visual01_2.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  filter: grayscale(80%);
}

.visual01_3 { 
  background-image: url(../img/slide/visual01_3.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  filter: grayscale(80%);
}

.visual01_4 { 
  background-image: url(../img/slide/visual01_4.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
}


.mySwiper .swiper-slide .con_area{
  position: absolute;
  padding: 20px 20px 40px;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.mySwiper .con_area h2,
.con_area a, .con_area p {
  display: block;
  color: #fff;
  text-align: center;
}

.mySwiper .con_area h2 {
  font-size: 52px;
  line-height: 60px;
  text-align: center; 
  margin-bottom: 20px;
}

.mySwiper .con_area .p1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.mySwiper .con_area .p2 {
  font-size: 20px;
  /* line-height: 22px; */
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}

 .con_area a {
  width: 180px;
  height: 48px;
  border: #fff 1px solid;
  text-align: center;
  line-height: 48px;
  transition: all 0.3s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.mySwiper .con_area a:hover {
  background-color: #f2f2f2;
  border: #f2f2f2 3px solid;
  color: #232526;
  font-weight: 700;
}


/* intro */

.intro {
  /* background-color: #070505; */
  height: 600px;
}

.intro .inner {
  box-sizing: border-box;
  padding-top: 110px;
}

.intro .inner>div {
  float: left;
  margin-right: 120px;
}
.intro .con_area{
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1s;
}
.con_area.on{
  transform: translateX(0);
  opacity: 1;
}

.con_photo{
  transform: translateX(50%);
  opacity: 0;
  transition: all 1s;
}

.con_photo.on{
  transform: translateX(0);
  opacity: 1;
}

.intro .inner>div:last-child {
  margin: 0;
  float: right;
  background: url(../img/intro.jpg) no-repeat top center;
  width: 500px;
  height: 350px;  
}

.intro .con_photo:hover:after {
  content: '자세히 보러가기';
  font-size: 32px;
  line-height: 350px;
  color: #f2f2f2;
  display: block;
  width: 500px;
  height: 350px;
  background-color: black;
  opacity: 0.8;
  text-align: center;
}

.intro .con_area div {
  width: 147px;
  height: 4px;
  background-color: #a40000;
  font-size: 0;
  color: transparent;
  transition: all 0.3s;
}

.intro .con_area div:hover {
  width: 147px;
  height: 4px;
  background-color: #a40000;
  font-size: 0;
  color: transparent;
}


.intro .con_area h3 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 45px;
}

.intro .con_area p {
  display: block;
  color: #232526;
  font-weight: 300;
  margin-bottom: 25px;
  text-align: left;
}

/* intro_bottom */

.intro_bottom {
  background: url(../img/visual02.jpg) no-repeat center;
  height: 300px;
}

.intro_bottom .con {
  position: absolute;
  left: 240px;
  top: 65px;
}

.intro_bottom .con>div {
  float: left;
  width: 140px;
  height: 180px;
  margin-right: 165px;
  opacity: 0;
  transform: translateY(-100px);
}

.intro_bottom .con>div:first-child{
  transition: all 0.5s;
}

.intro_bottom .con>div:nth-child(2){
  transition: all 1s;
}

.intro_bottom .con>div:hover {
  float: left;
  width: 140px;
  height: 180px;
  margin-right: 165px;
}

.intro_bottom .con>div:last-child {
  margin: 0;
  transition: all 1.5s;
}

.intro_bottom .con .img {
  height: 120px;
  text-align: center;

}

.intro_bottom .con p {
  display: block;
  height: 35px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
  font-size: 20px;
  color: #fff;
}

.intro_bottom .con>div.onTop{
  transform: translateY(0);
  opacity: 1;
}

/* business */
.business {
  background-color: #232526;
  /* height: 885px; */
  box-sizing: border-box;
  padding: 85px 0;
  color: WHITE;
}
.business ul{
  display: none;
}
.business .line {
  width: 120px;
  height: 2px;
  font-size: 0;
  color: transparent;
  background-color: #fff;
  margin: 0 auto 20px;
  transition: all 0.5s;
  transform: translateX(-100px);
  opacity: 0;
}

.business .line.left{
  transform: translateY(0);
  opacity: 1;
}

.business h2 {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 120px;
  transform: translateY(-50px);
  opacity: 0;
  transition: all 1s;
}

.business h2.bottom{
  transform: translateX(0);
  opacity: 1;
}

/* business content */

.business li {
  float: left;
  margin-right: 40px;
  margin-bottom: 75px;
  width: 270px;
  height: 400px;
  background-color: #323232;
}

.business li:nth-child(4n) {
  margin: 0 0 75px 0;
  /* margin: 0; */
}

.business h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.business h3,
.business p {
  padding-left: 20px;
  box-sizing: border-box;
}

.business .p1 {
  font-size: 16px;
}

.business .p2 {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 45px;
}

.business a {
  display: block;
  color: #fff;
  height: 52px;
  background-color: #151617;
  text-align: center;
  line-height: 52px;
  transition: all 0.3s;
}

/* con01 */

.business .con01 .img {
  background: url(../img/content01.jpg) no-repeat top;
  -webkit-filter: grayscale(100%);
  width: 270px;
  height: 180px;
  margin-bottom: 25px;
  font: 0;
  color: transparent;
  transition: all 0.3s;
}

.business .con01:hover .img {
  -webkit-filter: grayscale(0);
}

.business .con01:hover {
  background-color: #a40000;
}

.business .con01 a:hover {
  background-color: #8c8c8c;

}

/* con02 */

.business .con02 .img {
  background: url(../img/content02.jpg) no-repeat top;
  -webkit-filter: grayscale(100%);
  width: 270px;
  height: 180px;
  margin-bottom: 25px;
  font: 0;
  color: transparent;
  transition: all 0.3s;
}

.business .con02:hover .img {
  -webkit-filter: grayscale(0);
}

.business .con02:hover {
  background-color: #a40000;
}

.business .con02 a:hover {
  background-color: #8c8c8c;

}

/* con03 */
.business .con03 .img {
  background: url(../img/content03.jpg) no-repeat top;
  -webkit-filter: grayscale(100%);
  width: 270px;
  height: 180px;
  margin-bottom: 25px;
  font: 0;
  color: transparent;
  transition: all 0.3s;
}

.business .con03:hover .img {
  -webkit-filter: grayscale(0);
}

.business .con03:hover {
  background-color: #a40000;
}

.business .con03 a:hover {
  background-color: #8c8c8c;

}

/* con04 */
.business .con04 .img {
  background: url(../img/content04.jpg) no-repeat top;
  -webkit-filter: grayscale(100%);
  width: 270px;
  height: 180px;
  margin-bottom: 25px;
  font: 0;
  color: transparent;
  transition: all 0.3s;
}

.business .con04:hover .img {
  -webkit-filter: grayscale(0);
}

.business .con04:hover {
  background-color: #a40000;
}

.business .con04 a:hover {
  background-color: #8c8c8c;
}

.business .more {
  background-color: transparent;
  display: block;
  width: 52px;
  height: 52px;
  margin: 0 auto;
}

/* board */

.board {
  background-color: #f2f2f2;
  height: 520px;
  padding-top: 110px;
  box-sizing: border-box;
}

.board h3 {
  font-size: 36px;
  display: block;
  padding-bottom: 15px;
}

.board .board_box {
  width: 535px;
  height: 330px;
  position: relative;
}

.board .board_box>a {
  position: absolute;
  top: 0;
  right: 0;
}

.board .inner>div:first-child {
  float: left;
}

.board .inner>div:last-child {
  float: right;
}

.board .board_box li {
  box-sizing: border-box;
  padding: 30px 10px;
  border-bottom: #8c8c8c 1px solid;
}

.board .board_box li:first-child {
  border-top: #8c8c8c 2px solid;
  padding-top: 20px;
}

.board .board_box a,
span,
strong {
  color: #595959;
}

.board .board_box li a strong {
  width: 270px;
  float: left;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.board .board_box li a span {
  display: block;
  float: right;
  font-weight: 300;
}

.board .board_box li a:hover strong {
  text-decoration: underline;
}
.board .inner > div:first-child{
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.5s;
}

.board .inner > div:last-child{
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.5s;
}

.board .inner > div.motion{
  transform: translateX(0);
  opacity: 1;
}

/* visual02 */
.visual02 {
  height: 500px;
  background: url(../img/visual03.jpg) no-repeat top;
  padding-top: 90px;
  box-sizing: border-box;
}

.visual02 p {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
  transition: all 0.5s;
  transform: translateY(-50px);
  opacity: 0;
  color: #fff;
}
.visual02 p.top, .visual02 h2.top{
  transform: translateY(0);
  opacity: 1;
}

.visual02 h2 {
  margin: 0 auto;
  text-align: center;
  display: block;
  box-sizing: border-box;
  font-size: 54px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 70px;
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(-50px);
}

.visual02 .btn_box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.visual02 .btn_box a {
  float: left;
  display: block;
  width: 250px;
  height: 75px;
  border: 1px #fff solid;
  font-size: 24px;
  text-align: center;
  line-height: 75px;
  margin-right: 55px;
  color: #fff;
}

.visual02 .btn_box a:first-child {
  background: url(../img/btn_icon01.png) no-repeat 30px 25px;
  transition: all 0.3s;
  transform: translateX(-50px);
  opacity: 0;
}

.visual02 .btn_box a:first-child.left, 
.visual02 .btn_box a:last-child.right{
  transform: translateX(0);
  opacity: 1;
}

.visual02 .btn_box a:first-child:hover {
  background-color: #a40000;
  border: 2px #a40000 solid;
  font-weight: 700;
}

.visual02 .btn_box a:last-child {
  background: url(../img/btn_icon02.png) no-repeat 20px 20px;
  padding-left: 30px;
  box-sizing: border-box;
  margin: 0;
  transition: all 0.3s;
  transform: translateX(50px);
  opacity: 0;
}


.visual02 .btn_box a:last-child:hover {
  background-color: #a40000;
  border: 2px #a40000 solid;
  font-weight: 700;
}

/* footer */
footer {
  height: 200px;
  background-color: #232526;
  padding-top: 50px;
  box-sizing: border-box;
  color: #f2f2f2;
}

footer .f_logo {
  display: inline-block;
  /* background-color: yellow; */
  width: 120px;
  height: 30px;
  box-sizing: border-box;
  background: url(../img/f_logo.png) no-repeat left 10px;
}

footer .con_box{
  float: right;
}

 address {
  font-style: normal;
  margin-bottom: 10px;  
}

footer p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: right;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

footer span {
  display: block;
  margin-right: 15px;
  color: #f2f2f2;
  float: left;
  font-size: 14px;
  text-align: right;
}

footer span:last-child{
  margin-right: 0;
}

/* layer pop */
.layer_bg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: none;
}

.layer_box{
  width: 450px;
  height: 350px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table{
  margin: 0 auto;
  padding: 10px 0;
}

.layer_box h2{
  background-color: #a40000;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.layer_con{
  padding: 10px 20px;
}

.layer_con td:first-child{
  padding-right: 20px;
}

.layer_con td{
  padding-bottom: 10px;
}

input, textarea, select{
  padding: 3px;
  border-radius: 0;
  border: 1px solid #ddd;
  color: #8c8c8c;
}

.layer_con tr:last-child td{
  text-align: center;
}

.layer_con button{
  text-align: center;
  margin: 0 auto;
  padding: 7px 15px;
  margin-right: 10px;
  border-radius: 0;
  border: 0;
  color: #323232;
  font-size: 16px;
  transition: all 0.3s;
}

.layer_con button:hover{
  background-color: #a40000;
  color: #fff;
  font-weight: bold;
}